<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="smtpIP" value="smtp.exmail.qq.com"/>
    <add key="smtpPort" value="25"/>
    <add key="fromUser" value="chunlong_hu@sz-hudson.com"/>
    <add key="fromPassword" value="h123456"/>
    <add key="mailList" value="chunlong_hu@sz-hudson.com"/>
    <add key="ccList" value="chunlong_hu@sz-hudson.com"/>
    <add key="area1" value="chunlong_hu@sz-hudson.com"/>
    <add key="area2" value="chunlong_hu@sz-hudson.com"/>
    <add key="area3" value="chunlong_hu@sz-hudson.com"/>
    <add key="area4" value="chunlong_hu@sz-hudson.com"/>
    <add key="url" value="http://192.168.1.7:81/CrushedMaterialManager/CrushedMaterial_Approved.aspx"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="responseUrl" value="http://192.168.0.2/main/mainframe.asp"/>
    <add key="CustomerList" value="CA03140"/>
    <add key="AporveList" value="H1406192258"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa "/>
    <add name="debug" connectionString="Data Source=192.168.1.110;Initial Catalog=192.168.1.7-ERP_Zhusu;Integrated Security=True"/>
    <add name="hudson" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa "/>
    <add name="ConXG_ZhuSu" connectionString="Data Source=192.168.1.199;Initial Catalog=XG_ZhuSu;User ID=sa"/>
    <add name="hudsonwwwroot" connectionString="Data Source=192.168.1.7;Initial Catalog=hudsonwwwroot;User ID=sa"/>

    <add name="Conn60T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn60T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T03" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T04" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T05" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn90T06" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T03" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T04" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T05" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn120T06" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn140T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn150T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T03" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T04" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T05" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T06" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T07" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn160T08" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn200T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn200T02" connectionString="Data Source=192.168.3.168;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn200T04" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn200T05" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn200T06" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn230T01" connectionString="Data Source=192.168.3.100;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn250T02" connectionString="Data Source=192.168.3.105;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T03" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T04" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T05" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T06" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T07" connectionString="Data Source=192.168.3.167;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T08" connectionString="Data Source=192.168.3.165;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn280T09" connectionString="Data Source=192.168.3.169;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn320T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn320T03" connectionString="Data Source=192.168.3.166;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn320T04" connectionString="Data Source=192.168.3.162;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T03" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T04" connectionString="Data Source=192.168.3.171;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T05" connectionString="Data Source=192.168.3.173;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T06" connectionString="Data Source=192.168.3.161;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn380T07" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn450T01" connectionString="Data Source=192.168.3.175;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn470T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn470T02" connectionString="Data Source=192.168.3.174;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn530T01" connectionString="Data Source=192.168.3.172;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn550T01" connectionString="Data Source=192.168.3.164;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn600T01" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
    <add name="Conn600T02" connectionString="Data Source=192.168.1.199;Initial Catalog=ERP_ZhuSu;User ID=sa"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
-->
    <customErrors mode="Off">
      <!--error statusCode="403" redirect="NoAccess.htm" />  -->
      <!--error statusCode="404" redirect="FileNotFound.htm" />  -->
    </customErrors>

    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
